.navigation {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.img_logo {
    height: 5rem;
}

.navigation section {
    display: inherit;
    flex: 1;
    justify-content: flex-end;
}

.navigation section div {
    margin: 5px;
}

/*===================================*/

.btn_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_img a {
    display: flex;
    flex: 1;
}

.img_new_recipe{
    height: 2.5rem;
}

.img_btn{
    height: 1.5rem;
}
.img_btn_more{
    height: 2rem;
}