.searchBar {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 3rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
}

.searchBar input {
    flex: 4;
    border: hidden;
    background-color: rgba(255, 0, 0, 0);
    padding-left: 2rem;
}

.select_1 {
    flex: 1;
    margin: 5px 0 5px 0;
    border-left: thin solid gray;
    border-right: thin solid gray;
}

.select_2 {
    flex: 1;
    margin: 5px 0 5px 0;
}

.btn_go_search {
    flex: 0.8;
    background-color: rgb(247, 63, 39);
    height: 3rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    /*text*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;

}